// general colors
$white: #fff;
$ow-purple: #ce34da;

// typography colors
$body-font-color: #222;

// rank colors
$tier-bronze: #efceb1;
$tier-silver: #f2fdff;
$tier-gold: #ffffb4;
$tier-plat: #faffff;